/* General styles */
button {
    padding: 5px 10px;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

input[type="text"], input[type="number"], select, textarea {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
    cursor: pointer;  /* Add cursor pointer for sortable columns */
}

th {
    background-color: #f2f2f2;
}

.modal-content {
    padding: 20px;
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
}

.nav-buttons {
    display: flex;
}

.nav-button {
    display: inline-block;
    padding: 20px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

.nav-button:hover {
    background-color: #45a049;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.header button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header select {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
}

.header button:hover {
    background-color: #45a049;
}

/* Food and Recipe styles */
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust the gap as needed */
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.add-food-form input {
    margin-right: 10px;
    margin-bottom: 10px;
}

.add-food-form button {
    margin-bottom: 10px;
}

/* Modal form styles */
.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form label {
    margin-bottom: 10px;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* Table column widths */
th, td {
    width: 20%;
}

th.description, td.description {
    width: 40%;
}

/* Modal buttons */
.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

/* Adjusting modal sizes */
.ReactModal__Content {
    max-width: 600px;
    margin: auto;
}

/* Journalner styles */
.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.header select {
    margin: 0 10px;
    padding: 5px;
    font-size: 16px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.day.disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.day.today {
    background-color: #ffeb3b;
}

.day.journal-available {
    background-color: #a5d6a7;
}

