.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
}

.nav-buttons {
    display: flex;
}

.nav-button {
    display: inline-block;
    padding: 20px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

.nav-button:hover {
    background-color: #45a049;
}
.meal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.meal-header input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.meal-header button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.meal-header button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.modal-content {
    padding: 20px;
}

.food-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.food-header input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.food-header button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.food-header button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.modal-content {
    padding: 20px;
}
